 

<div>    
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: seagreen;">Welcome To Niks Flower Shop</a>
    </div>
    <ul class="nav nav-tabs">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li class="nav-item"><a  routerLink="login" class="nav-link">Login</a></li>
      <li class="nav-item"><a  routerLink="register" class="nav-link">Register</a></li>
      <li class="nav-item"><a  routerLink="flower" class="nav-link"> Add Flower</a></li>
      <li class="nav-item"><a routerLink="flowerorder" class="nav-link">Items</a></li>
      <li class="nav-item"><a  routerLink="summary" class="nav-link">Cart</a></li>
     
    </ul>
  </div>
</nav>
</div>

<body style="background-image: url('../assets/images/b.jpg');">
  <div>
    <router-outlet></router-outlet>
</div>

</body>




