<div class="hello">
<div class="card" style="width: 18rem;">   
    <div class="alert alert-info" *ngFor = "let flower of flowers">
                <!-- <div *ngIf="flower.available "> -->
                    Flower Id : {{flower.id}}
                    <br/>
                    Flower Name : {{flower.name}}
                     <br/>
                     Flower Description : {{flower.description}} 
                    <br/>
                    Flower Price : {{flower.price}}
                    <br/>
                    Flower Quantity : {{ flower.qty}}
                <br/>
                <button class="btn btn-primary" (click)="removeFlower(flower.id)">Remove</button>
                <div> Price : {{flower.qty*flower.price}}</div>
            </div>
            <!-- </div> -->
            <div >Totall Price : {{getPrice()}}</div>
</div>
</div>


